In [99]:
import io
import json
import boto3
import joblib
import pandas as pd
import psycopg2
from io import StringIO
from datetime import datetime
from types import SimpleNamespace
from IPython.display import display

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import LabelEncoder

# suppress irrelevant pandas warning
import warnings
warnings.filterwarnings('ignore', message='pandas only supports SQLAlchemy connectable')

In [100]:
class DataSource:
    def __init__(self, config):
        self.config = config
        self.connect()
    
    def connect(self):
        try:
            self.connection = psycopg2.connect(
                host=self.config.host,
                database=self.config.database,
                user=self.config.user,
                password=self.config.password,
                port=self.config.port
            )
            print("Connection to RDS successful")
        except Exception as e:
            print(f"Error connecting to RDS: {e}")
            
    def data(self, query, limit=100, offset=0):
        df = None
        try:
            query = f"SELECT * FROM ({query}) LIMIT {limit} OFFSET {offset}"
            df = pd.read_sql(query, self.connection)
        except Exception as e:
            print(f"Error querying data: {e}")
        return df
    
    def count(self, query):
        total_count = None
        try:
            count_query = f"SELECT COUNT(*) FROM ({query}) AS count_query"
            result = pd.read_sql(count_query, self.connection)
            total_count = result.iloc[0, 0]
        except Exception as e:
            print(f"Error querying count: {e}")
        return total_count

    def enrollment_query(self):
        query = """
        SELECT e.EnrollmentID, e.PersonalID, e.ProjectId, e.EntryDate, e.DateOfEngagement,
            CASE 
                WHEN e.LivingSituation = 116 THEN 'Place Not Meant For Habitation'
                WHEN e.LivingSituation = 101 THEN 'Emergency Shelter'
                WHEN e.LivingSituation = 118 THEN 'Safe Haven'
                WHEN e.LivingSituation = 215 THEN 'Foster Care Home'
                WHEN e.LivingSituation = 206 THEN 'Hospital/ Medical Facility'
                WHEN e.LivingSituation = 207 THEN 'Jail'
                WHEN e.LivingSituation = 225 THEN 'Long-term care facility'
                WHEN e.LivingSituation = 204 THEN 'Psychiatric hospital'
                WHEN e.LivingSituation = 205 THEN 'Substance abuse treatment facility'
                WHEN e.LivingSituation = 302 THEN 'Transitional Housing'
                WHEN e.LivingSituation = 329 THEN 'Halfway House'
                WHEN e.LivingSituation = 314 THEN 'Hotel/ Motel'
                WHEN e.LivingSituation = 332 THEN 'Host Home'
                WHEN e.LivingSituation = 312 THEN 'Staying or living with family, temporary tenure'
                WHEN e.LivingSituation = 313 THEN 'Staying or living with friends, temporary tenure'
                WHEN e.LivingSituation = 327 THEN 'HOPWA funded project TH'
                WHEN e.LivingSituation = 336 THEN 'Staying/ living in friends house'
                WHEN e.LivingSituation = 335 THEN 'Staying/ living in families house'
                WHEN e.LivingSituation = 422 THEN 'Staying or living with family, permanent tenure'
                WHEN e.LivingSituation = 423 THEN 'Staying or living with friends, permanent tenure'
                WHEN e.LivingSituation = 426 THEN 'HOPWA funded project PH'
                WHEN e.LivingSituation = 410 THEN 'Rental by client, no subsidy'
                WHEN e.LivingSituation = 435 THEN 'Rental by client, with subsidy'
                WHEN e.LivingSituation = 421 THEN 'Owned by client, no subsidy'
                WHEN e.LivingSituation = 411 THEN 'Owned by client, with subsidy'
                WHEN e.LivingSituation = 30  THEN 'No exit interview completed'
                WHEN e.LivingSituation = 17  THEN 'Other'
                WHEN e.LivingSituation = 24  THEN 'Deceased'
                WHEN e.LivingSituation = 37  THEN 'Unable to determine'
                WHEN e.LivingSituation = 8   THEN 'Client doesn''t know'
                WHEN e.LivingSituation = 9   THEN 'Client prefers not to answer'
                WHEN e.LivingSituation = 99  THEN 'Data Not Collected'
                WHEN e.LivingSituation IS NULL THEN 'Data Not Collected'
                ELSE 'Unknown'
            END AS LivingSituation,
            CASE
                WHEN e.LivingSituation >= 100 AND e.LivingSituation < 200 THEN 'Homeless Situation'
                WHEN e.LivingSituation >= 200 AND e.LivingSituation < 300 THEN 'Institutional Situation'
                WHEN e.LivingSituation >= 300 AND e.LivingSituation < 400 THEN 'Temporary Situation'
                WHEN e.LivingSituation >= 400 AND e.LivingSituation < 500 THEN 'Permanent Housing Situation'
                ELSE 'Other'
            END AS LivingSituationGrouping,
            x.ExitID, x.ExitDate,
            CASE
                WHEN x.Destination IS NULL THEN 99
                ELSE x.Destination
            END AS Destination,
            CASE
                WHEN x.Destination >= 100 AND x.Destination < 200 THEN 'Homeless Situation'
                WHEN x.Destination >= 200 AND x.Destination < 300 THEN 'Institutional Situation'
                WHEN x.Destination >= 300 AND x.Destination < 400 THEN 'Temporary Situation'
                WHEN x.Destination >= 400 AND x.Destination < 500 THEN 'Permanent Housing Situation'
                ELSE 'Other'
            END AS DestinationGrouping
        FROM Enrollment e
        INNER JOIN Exit x
            ON e.EnrollmentID = x.EnrollmentID
        """
        return query
    
    def log_experiment(
        self,
        model_type: str,
        hyperparameters: dict,
        training_data_version: str,
        performance_metrics: dict,
        s3_model_location: str,
        start_time: datetime,
        end_time: datetime,
        status: str,
        notes: str
    ):
        """
        Logs an experiment to the PostgreSQL database.

        Parameters:
        - model_type (str): The type of the model (e.g., 'RandomForest', 'GBM').
        - hyperparameters (dict): A dictionary of hyperparameters used for the model.
        - training_data_version (str): The version of the training data.
        - performance_metrics (dict): A dictionary of performance metrics (e.g., accuracy, F1 score).
        - s3_model_location (str): The S3 location where the model weights are stored.
        - start_time (datetime): The start time of the experiment.
        - end_time (datetime): The end time of the experiment.
        - status (str): The status of the experiment (e.g., 'Completed', 'Failed').
        - notes (str): Any additional notes for the experiment.

        Returns:
        - None: Logs the experiment in the database.
        """
        cursor = self.connection.cursor()
        insert_query = """
            INSERT INTO experiments (
                model_type, 
                hyperparameters, 
                training_data_version, 
                performance_metrics, 
                s3_model_location, 
                start_time, 
                end_time, 
                status, 
                notes
            ) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """

        # Execute the insert query
        cursor.execute(insert_query, (
            model_type, 
            json.dumps(hyperparameters), 
            training_data_version, 
            json.dumps(performance_metrics), 
            s3_model_location, 
            start_time, 
            end_time, 
            status, 
            notes
        ))

        self.connection.commit()

In [101]:
class DataRetriever:
    def __init__(self, data_source):
        self.data_source = data_source
        
    def records(self):
        query = self.data_source.enrollment_query()
        total_count = self.data_source.count(query)

        if total_count is None:
            print("Failed to retrieve total count.")
            return None

        all_data = pd.DataFrame()
        batch_size = 10000
        
        try:
            for offset in range(0, total_count, batch_size):
                last_idx = min(offset + batch_size, total_count)
                print(f"Fetching {offset} to {last_idx} of {total_count}")
                data = self.data_source.data(query, limit=batch_size, offset=offset)
                all_data = pd.concat([all_data, data], ignore_index=True)
        except Exception as e:
            print(f"Error querying data: {e}")

        return all_data

In [102]:
class DataInspector:
    def display(self, data, columns):
        styled_df = data[[col.lower() for col in columns]].head().style.set_table_styles([{
            'selector': 'table',
            'props': [('max-width', '1000px'), ('overflow-x', 'scroll'), ('display', 'block')]
        }])

        display(styled_df)
        print(f"Total count: {len(data)}")

In [103]:
class S3:
    def __init__(self, bucket_name):
        self.bucket_name = bucket_name
        self.s3 = boto3.client('s3')
        
    def save_model(self, model, name):
        model_buffer = io.BytesIO()
        joblib.dump(model, model_buffer)
        model_buffer.seek(0)
        try:
            file_key = f"models/{name}.joblib"
            self.s3.upload_fileobj(model_buffer, self.bucket_name, file_key)
            print(f"Model successfully uploaded to s3://{self.bucket_name}/{file_key}")
            return f"s3://{self.bucket_name}/{file_key}"
        except Exception as e:
            print(f"Failed to upload model to S3: {e}")
            return None

In [104]:
class FeatureEngineer:
    def __init__(self, data):
        self.data = data
        
    def transformed_data(self):
        self.transform()
        return self.data
    
    def transform(self):
        self.encode_categorical()
        self.add_new_features()
        
    def encode_categorical(self):
        le = LabelEncoder()
        categorical_columns = ['livingsituation', 'livingsituationgrouping', 'destination', 'destinationgrouping']
        for col in categorical_columns:
            self.data[col] = le.fit_transform(self.data[col])
            
    def add_new_features(self):
        # create a feature for enrollment duration in days
        self.data['entrydate'] = pd.to_datetime(self.data['entrydate'])
        self.data['exitdate'] = pd.to_datetime(self.data['exitdate'])
        self.data['enrollment_duration'] = (self.data['exitdate'] - self.data['entrydate']).dt.days

In [105]:
class Dataset:
    def __init__(self, data, random_state=413):
        self.random_state = random_state
        self.data = data
        self.train_test_split()
        
    def train_test_split(self):
        # create an 80/10/10 train/val/test split
        self.X_train, X_temp, self.y_train, y_temp = train_test_split(
            self.X(), self.y(), test_size=0.2, random_state=self.random_state
        )
        self.X_val, self.X_test, self.y_val, self.y_test = train_test_split(
            X_temp, y_temp, test_size=0.5, random_state=self.random_state
        )
        
    def X(self):
        return self.data[['livingsituation', 'livingsituationgrouping', 'enrollment_duration']]
    
    def y(self):
        return self.data['destinationgrouping']

In [106]:
class BaselineModel:
    def __init__(self, random_state=413):
        self.model = RandomForestClassifier(random_state=random_state)
        
    def fit(self, X_train, y_train):
        self.model.fit(X_train, y_train)
        
    def predict(self, X_test):
        return self.model.predict(X_test)

In [107]:
class DataPipeline:
    def run(self):
        start_time = datetime.now()
        
        data_source = DataSource(self.db_config())
        s3 = S3(bucket_name='capstone-hmis')

        print("Querying RDS for data...")
        data_retriever = DataRetriever(data_source)
        data = data_retriever.records()

        print("Data before feature engineering")
        data_inspector = DataInspector()
        data_inspector.display(data, data.columns.tolist())

        feature_engineer = FeatureEngineer(data)
        transformed_data = feature_engineer.transformed_data()
        print("Data after feature engineering")
        data_inspector.display(transformed_data, transformed_data.columns.tolist())
        
        dataset = Dataset(transformed_data)

        print("\nFitting Baseline Model...")
        model = BaselineModel()
        model.fit(dataset.X_train, dataset.y_train)
        
        # TODO: implement train/val loop here
        
        print("Test Baseline Model")
        y_pred = model.predict(dataset.X_test)
        
        accuracy = accuracy_score(dataset.y_test, y_pred)
        # 'weighted': F1 score for multi-class classification by taking the weighted average of F1 scores for each class, considering the class imbalance.
        # 'macro': Unweighted mean of F1 scores for each label.
        # 'micro': Aggregate the contributions of all classes to compute the F1 score.
        # 'binary': Default for binary classification.
        f1 = f1_score(dataset.y_test, y_pred, average='weighted')
        print("\n====================================================================\n")
        print(f" BaselineModel(RandomForestClassifier) Accuracy: {accuracy:.4f}, F1: {f1:.4f}")
        print("\n====================================================================\n")

        print("Saving model to S3...")
        s3_model_location = s3.save_model(
            model=model.model,
            name=f"baseline-v1-{datetime.now():%Y-%m-%d}"
        )
        
        print("Logging experiment in RDS experiments table")
        data_source.log_experiment(
            model_type='RandomForest',
            hyperparameters=model.model.get_params(),
            training_data_version='v0.0.1',
            performance_metrics={"accuracy": accuracy, "f1_score": f1},
            s3_model_location=s3_model_location,
            start_time=start_time,
            end_time=datetime.now(),
            status='Completed',
            notes='First Baseline RandomForest model experiment'
        )
        
        print("Experiment Complete!")
    
    def db_config(self):
        return SimpleNamespace(
            host="capstone-database.cr62wyo4a7dt.us-east-2.rds.amazonaws.com",
            database="capstone",
            user="postgres",
            password="<PASSWORD_HERE_2>",
            port="5432"
        )

In [108]:
pipeline = DataPipeline()
pipeline.run()

Connection to RDS successful
Querying RDS for data...
Fetching 0 to 10000 of 443437
Fetching 10000 to 20000 of 443437
Fetching 20000 to 30000 of 443437
Fetching 30000 to 40000 of 443437
Fetching 40000 to 50000 of 443437
Fetching 50000 to 60000 of 443437
Fetching 60000 to 70000 of 443437
Fetching 70000 to 80000 of 443437
Fetching 80000 to 90000 of 443437
Fetching 90000 to 100000 of 443437
Fetching 100000 to 110000 of 443437
Fetching 110000 to 120000 of 443437
Fetching 120000 to 130000 of 443437
Fetching 130000 to 140000 of 443437
Fetching 140000 to 150000 of 443437
Fetching 150000 to 160000 of 443437
Fetching 160000 to 170000 of 443437
Fetching 170000 to 180000 of 443437
Fetching 180000 to 190000 of 443437
Fetching 190000 to 200000 of 443437
Fetching 200000 to 210000 of 443437
Fetching 210000 to 220000 of 443437
Fetching 220000 to 230000 of 443437
Fetching 230000 to 240000 of 443437
Fetching 240000 to 250000 of 443437
Fetching 250000 to 260000 of 443437
Fetching 260000 to 270000 of 443437
Fetching 270000 to 280000 of 443437
Fetching 280000 to 290000 of 443437
Fetching 290000 to 300000 of 443437
Fetching 300000 to 310000 of 443437
Fetching 310000 to 320000 of 443437
Fetching 320000 to 330000 of 443437
Fetching 330000 to 340000 of 443437
Fetching 340000 to 350000 of 443437
Fetching 350000 to 360000 of 443437
Fetching 360000 to 370000 of 443437
Fetching 370000 to 380000 of 443437
Fetching 380000 to 390000 of 443437
Fetching 390000 to 400000 of 443437
Fetching 400000 to 410000 of 443437
Fetching 410000 to 420000 of 443437
Fetching 420000 to 430000 of 443437
Fetching 430000 to 440000 of 443437
Fetching 440000 to 443437 of 443437
Data before feature engineering

Total count: 443437
Data after feature engineering

Total count: 443437

Fitting Baseline Model...
Test Baseline Model

====================================================================

 BaselineModel(RandomForestClassifier) Accuracy: 0.7284, F1: 0.6484

====================================================================

Saving model to S3...
Model successfully uploaded to s3://capstone-hmis/models/baseline-v1-2024-10-08.joblib
Logging experiment in RDS experiments table
Experiment Complete!