## Read a CSV from s3

In [1]:
import boto3
import pandas as pd
from io import StringIO
from IPython.display import display

bucket_name = 'capstone-hmis'
file_key = 'LA/Project.csv'

# Create a boto3 client to interact with S3
s3 = boto3.client('s3')

# Read the file from S3
try:
    # Fetch the file from S3
    s3_object = s3.get_object(Bucket=bucket_name, Key=file_key)
    # Read the content of the file
    file_content = s3_object['Body'].read().decode('utf-8')
    # Convert to a Pandas DataFrame
    df = pd.read_csv(StringIO(file_content))
    
    styled_df = df[['ProjectID', 'OrganizationID', 'ProjectName', 'OperatingStartDate', 'OperatingEndDate']].head().style.set_table_styles(
        [{
            'selector': 'table',
            'props': [('max-width', '1000px'), ('overflow-x', 'scroll'), ('display', 'block')]
        }]
    )

    # Display the styled DataFrame
    display(styled_df)

except Exception as e:
    print(f"Error reading file from S3: {e}")

## Write a simple text file

In [2]:
import boto3

file_key = 'test_file.txt'

# Step 1: Write the text blob to the S3 bucket
text_blob = "This is a simple text blob that will be written to the S3 bucket."

try:
    s3.put_object(Bucket=bucket_name, Key=file_key, Body=text_blob)
    print(f"Text blob successfully written to {file_key} in S3 bucket {bucket_name}.")
except Exception as e:
    print(f"Error writing file to S3: {e}")

# Step 2: Read the text blob back from the S3 bucket
try:
    s3_object = s3.get_object(Bucket=bucket_name, Key=file_key)
    file_content = s3_object['Body'].read().decode('utf-8')
    print("Text blob read from S3:")
    print(file_content)
except Exception as e:
    print(f"Error reading file from S3: {e}")

# Step 3: Delete the file from the S3 bucket
try:
    s3.delete_object(Bucket=bucket_name, Key=file_key)
    print(f"File {file_key} successfully deleted from S3 bucket {bucket_name}.")
except Exception as e:
    print(f"Error deleting file from S3: {e}")

Text blob successfully written to test_file.txt in S3 bucket capstone-hmis.
Text blob read from S3:
This is a simple text blob that will be written to the S3 bucket.
File test_file.txt successfully deleted from S3 bucket capstone-hmis.